<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"></add>
	</extensions>

	<targets async="true">

		<target name="jsonFile" xsi:type="File" fileName="logs/log.json" archiveNumbering="DateAndSequence" archiveAboveSize="5000000" maxArchiveFiles="10">
			<layout xsi:type="JsonLayout">
				<attribute name="correlationId" layout="${mdlc:CorrelationId}" />
				<attribute name="appName" layout="${appdomain}" />
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=ToString,StackTrace:maxInnerExceptionLevel=2}" />
				<attribute name="machineName" layout="${machinename}" />
				<attribute name="ip" layout="${aspnet-request-ip}" />
				<attribute name="method" layout="${aspnet-request-method}" />
				<attribute name="url" layout="${aspnet-request-url}" />
				<attribute name="query" layout="${aspnet-request-querystring}" />
				<attribute name="userAgent" layout="${aspnet-request-useragent}" />
				<attribute name="userIdentity" layout="${aspnet-user-identity}" />
				<attribute name="thread" layout="${threadname:whenEmpty=${threadid}}" />
			</layout>
		</target>

		<target name="logConsole" xsi:type="Console" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="jsonFile" />
		<logger name="*" minlevel="Trace" writeTo="logConsole" />
	</rules>
</nlog>